<!DOCTYPE html>
<html>
  <head>
    <title>PodcastApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="podcastApp">
    <div class="home-header">
      <div class="home-title">
        <h1>Soul Spectrum Podcast</h1>
      </div>
      <div id="home-nav">
        <a href="">Home</a>
        <a href="">iTunes</a>
        <a href="">About</a>
      </div>
      <ui-view></ui-view>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js"></script>
  </body>
</html>
